* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}



body>div {
  background-color: #fff;
  margin: 0 auto;
}

.hidden {
  display: none;
}

header {
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  background-color: #fff;
  opacity: 0.7;
  padding: 1.875rem;
  line-height: 1.6;
  font-family: 'Dancing Script', cursive;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.1875rem;
  transition: transform .6s;
  box-shadow: 2px 3px 84px 16px rgba(0, 0, 0, 1);
  margin-top: 40px;
}

#title:hover {
  transform: scale(1.2);
  opacity: 0.9;
  text-shadow: 1px 1px 1px #4c1a2f;
  box-shadow: inset 2px 2px 104px -51px rgba(0, 0, 0, 1);

}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 1.5rem;
    padding: 1rem;
  }

  #title:hover {
    transform: scale(1);
    text-shadow: 0 0 3px #4c1a2f;
  }
}

#productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  mar-bottom: 80px;
}

#productsContainer>div {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

#productsContainer img {
  height: 300px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.details {
  display: flex;
  margin-top: 10px;
  margin-left: 0;
  justify-content: space-evenly;
}



.details button {

  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
  padding: 10px 22px;
  text-decoration: none;
  background-color: #fff;
}

.details button:hover {
  background-color: #6d1015;
  color: #fff;
  border: 2px solid #6d1015;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 20px 0 rgba(0, 0, 0, 0.19);

}

.product {
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
}

.product:hover {
  border: 2px solid #b4000b;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 8px 8px 20px 0 rgba(0, 0, 0, 0.19);


}

.details input:hover {
  background: linear-gradient(to bottom, #adc9ce 20%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed', GradientType=0);
  background-color: #bab1ba;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nr-of-prod-in-cart {
  margin-left: 6px;
  margin-top: 6px;
  font-size: 13px;
  color: #000000;
}

.hidden {
  display: none;
}

#loading img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
}

.cartImage {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://png.pngtree.com/svg/20161205/b5dbd4fc8b.png")
}

.adminImage {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("http://simpleicon.com/wp-content/uploads/lock-8.png")
}

#nr-of-prod-in-cart {
  margin-left: 6px;
  margin-top: 6px;
  font-size: 13px;
  color: #000000;
}

.heads {
  font-size: 16px;
  color: black;
  padding-top: 7px;
  margin: 0 8px;
}

#navBar a {
  text-decoration: none;
  color: black;

}

#navBar {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
  color: #383544;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  letter-spacing: 0.5px;
}